<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>待機画面</h1>

  <!--roomがあった場合に表示される-->
  <!--objectはdivの中でroomオブジェクトのフィールドにアクセスすることを示す-->
  <div th:if="${room}">
    ログインユーザ
    <ul>
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <!--<li>RoomNo:[[${room.roomNo}]]</li>-->
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
            thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div th:if="${usersLength<2}">
    人数が4人未満のため待機中です
  </div>
  <div th:if="${usersLength==2}">
    <div sec:authorize=""
    <a href="/game">ゲームスタート</a>
  </div>

</body>

</html>
