<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div sec:authorize="hasRole('ROLE_ONI')">
        <a href="/find/1"><img th:src="@{/image/神社.png}" width="128" height="128" /></a>
        <a href="/find/2"><img th:src="@{/image/商店街.png}" width="128" height="128" /></a>
        <a href="/find/3"><img th:src="@{/image/くさむら.png}" width="128" height="128" /></a>
        <br/>
        <a href="/find/4"><img th:src="@{/image/納屋.png}" width="128" height="128" /></a>
        <a href="/find/5"><img th:src="@{/image/墓地.png}" width="128" height="128" /></a>
        <a href="/find/6"><img th:src="@{/image/木.png}" width="128" height="128" /></a>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <a href="/hide/1"><img th:src="@{/image/神社.png}" width="128" height="128" /></a>
        <a href="/hide/2"><img th:src="@{/image/商店街.png}" width="128" height="128" /></a>
        <a href="/hide/3"><img th:src="@{/image/くさむら.png}" width="128" height="128" /></a>
        <br/>
        <a href="/hide/4"><img th:src="@{/image/納屋.png}" width="128" height="128" /></a>
        <a href="/hide/5"><img th:src="@{/image/墓地.png}" width="128" height="128" /></a>
        <a href="/hide/6"><img th:src="@{/image/木.png}" width="128" height="128" /></a>
    </div>
</body>

</html>
