<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div sec:authorize="hasRole('ROLE_USER')">
    <div th:if="${checkFind}">
      <h2 style="text-align:center">あなたは見つかりました</h2>
    </div>

    <div th:if="${!checkFind}">
      <h2 style="text-align:center">あなたは見つかりませんでした</h2>
    </div>
  </div>

  <div sec:authorize="hasRole('ROLE_ONI')">
    <div th:if="${findCount == 0}">
      <h2 style="text-align:center">1人も見つけられませんでした</h2>
    </div>

    <div th:if="${findCount >= 1}">
      <h2 style="text-align:center">あなたは[[${findCount}]]人見つけました</h2>
    </div>
  </div>

  <div th:if="${turn < 5}">
    <a href="/nextTurn" style="text-align:center">次のターン</a>
  </div>

  <div th:if="${turn == 5}">
    <a href="/finish" style="text-align:center">試合終了</a>
  </div>

</body>

</html>
