<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div sec:authorize="hasRole('ROLE_USER')">
    <div th:if="${checkFind}">
      <p>あなたは見つかりました</p>
    </div>

    <div th:if="${!checkFind}">
      <p>あなたは見つかりませんでした</p>
    </div>
  </div>

  <div sec:authorize="hasRole('ROLE_ONI')">
    <div th:if="${findCount == 0}">
      <p>1人も見つけられませんでした</p>
    </div>

    <div th:if="${findCount >= 1}">
      <p>あなたは[[${findCount}]]人見つけました</p>
    </div>
  </div>

  <div th:if="${turn < 5}">
    <a href="/nextTurn">次のターン</a>
  </div>

  <div th:if="${turn < 5}">
    <a href="/nextTurn">次のターン</a>
  </div>

  <a href="/nextTurn">次のターン</a>
</body>

</html>
